{% extends "__base.html" %}

{% block title %}{{ super() }} | {{ article.title }}{% endblock %}

{% block content %}

<header>
    <div class="wrapper">
        <a class="header-logo" href="http://www.thecrimson.com/">
            <img src="assets/img/logo.png" height="18" width="215">
        </a>
        <ul class="header-nav">
            <a href=""><li><img class="back-arrow" src="assets/img/arrow.png"> Back To YIR</li></a>
        </ul>
    </div>
</header>

<div class="ad-tag top-leader-ad">Advertisement</div>
<div id="TheCrimson_AllArticles_ATF_728x90" class="leader-ad">
    <script type='text/javascript'>
        if ($(window).width() >= 728) {
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_ATF_728x90'); });
        }
    </script>
</div>
<div class="content">
    <div class="article-heading">
        <div class="article-title">
            {{ article.title }}
        </div>
        {% if article.subhead %}
        <div class="article-subhead">
            {{ article.subhead }}
        </div>
        {% endif %}
        <div class="landing-article-byline">
            by {{ article.contributor_line }}
        </div>
    </div>
    <div class="article-body">
        {{ article.text }}
    </div>
</div>

<div class="ad-tag">Advertisement</div>
<div id="TheCrimson_AllArticles_BTF_728x90" class="leader-ad">
    <script type='text/javascript'>
        if ($(window).width() >= 728) {
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_BTF_728x90'); });
        }
    </script>
</div>

<div class="content">
    <div class="article-comments">
        <div id="disqus_thread"></div>
    </div>
</div>

{% endblock %}